@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Spartan&display=swap');

h1, h2, h3, h4, h5, h6 {
    color: #FFBA08;
    background-color: #1E1E24;
    font-family: 'Permanent Marker', Tahoma, sans-serif;
  }
  
  /*header h1 {
    font-size: 5em;
  }
  
  header h2 {
    font-size: 3em;
  }*/
  
  p {
    font-family: 'Spartan', Tahoma, sans-serif;
  }
  
  .main-title {
    background-color: #1E1E24;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3fr 2fr;
    justify-items: center;
    align-items: center;
  }
  
  p a {
    color: #FFBA08;
  }
  
  a:hover {
    color: #FFBA08;
    background-color: #1E1E24;
  }

 .copy a:hover {
     color:#000000;
     background-color:#FFBA08
 }
  
  /*.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }*/
  
  .home-headline-0 { 
    grid-column: 1/4;
    grid-row: 1/2;
    text-align: Left;
    height: 35px;
    padding: 10px;
  }
  
  .self-photo {
      box-shadow: 10px 10px 5px #FFBA08;
      grid-column: 2/4;
      grid-row: 1/3;
      margin: 20px auto;
      display: block;
      border: 1px solid #1E1E24;
  }

  nav {
    grid-column: 1/2;
    grid-row: 2/3;
    font-family: 'Permanent Marker', Tahoma, sans-serif;
  }

  nav ul a {
    color: #1E1E24;
    padding: 0px 5px 5px 5px;
  }
  nav ul {
      list-style: square;
      /*display: grid;
      grid-template-columns: 1fr;
      grid-gap: 1em;*/
    }
  
  footer {
    /*display: grid;*/
    grid-template-columns: 1fr;
    grid-gap: 1em;
    color: #FFBA08;
    background-color: #1E1E24;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1000px;
    height: 100px;
  }

  footer p {
      padding-left: 10px;
      text-align: center;
      font-family: 'Permanent Marker', Tahoma, sans-serif;
  }
  
  .last-modified {
    grid-row: 2/3;
  }
  
  /*div ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }*/
  
  .copy {
    grid-row: 1/2;
  }
  
  #content {
    max-width: 1000px;
    margin: 0 auto;
  }

  #wrap {
    padding-bottom: 100px;
    border-radius: 25px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
  
  
  strong {
    color: #FFBA08;
    background-color: #1E1E24;
  }