@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Spartan&display=swap');

h1, h2, h3, h4, h5, h6 {
    color: #B5FFE9;
    background-color: #444545;
    font-family: 'Permanent Marker', Tahoma, sans-serif;
    padding: 10px;
}

#content {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    font-family: 'Permanent Marker', Tahoma, sans-serif;
}

#wrap {
    padding-bottom: 100px;
}

header, footer {
    background-color: #444545;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header,
nav,
main,
footer {
	margin: 0 auto;
}

nav {
	background-color: #AB9F9D;
	text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
	display: block;
	color: #444545;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
}

nav a:hover {
    color: #B5FFE9;
    background-color: #444545;
}


main div p {
    font-family: 'Spartan', Tahoma, sans-serif;
    margin: 0;
}

.color div {
    height: 150px;
    width: 150px;
    margin: 0 auto;
    text-align: center;
}

#div1 {
    background-color: #444545;
}

#div2 {
    background-color: #B5FFE9;
}

#div3 {
    background-color: #AB9F9D;
}

#div4 {
    background-color: #1A936F;
}

#div5 {
    background-color: #D81159;
}

main p {
    background-color: #AB9F9D;
    color: #444545;
}

p a {
    color: #B5FFE9;
    padding: 2px;
}

p a:hover {
    color: #D81159;
    background-color:#AB9F9D;
}

.examples p {
    margin: 0 40px 0 40px;
}

footer {
    color: #B5FFE9;
    background-color: #444545;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1024px;
    height: 100px;
  }