@media(min-width: 32.5em) {

    nav ul.hide {
        display: flex;
        justify-content: center;
    }

    .color {
        display: flex;
        justify-content: center;
    }

    nav button {
        display: none;
    }

}