
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Spartan&display=swap');

h1, h2, h3, h4, h5, h6 {
    color: #FFBA08;
    background-color: #1E1E24;
    font-family: 'Permanent Marker', Tahoma, sans-serif;
    padding: 10px;
}

#content {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    font-family: 'Permanent Marker', Tahoma, sans-serif;
}

#wrap {
    padding-bottom: 100px;
}



header, footer {
    background-color: #1E1E24;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header,
nav,
main,
footer {
	margin: 0 auto;
}

nav {
	background-color: #FFBA08;
	text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
	display: block;
	color: #1E1E24;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}

nav a:hover {
    color: #FFBA08;
    background-color: #1E1E24;
}

main h3 {
    color: #1E1E24;
    background-color: white;
}

h3, main div p {
    padding: 0 40px 0 40px;
    font-family: 'Spartan', Tahoma, sans-serif;
}

strong {
    color: #FFBA08;
    background-color: #1E1E24;
  }


footer {
    color: #FFBA08;
    background-color: #1E1E24;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1024px;
    height: 100px;
  }