
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Spartan&display=swap');

h1, h2, h3, h4, h5, h6 {
    color: #FFBA08;
    background-color: #1E1E24;
    font-family: 'Permanent Marker', Tahoma, sans-serif;
  }



header, footer {
    background-color: #1E1E24;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

nav {
	background-color: #36454f;
	text-align: center;
    padding: 0 10px 0 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}