@media(min-width: 64em) {

    #content {
        max-width: 100%;
    }

    main {
        max-width: 900px;
        background-color: white;
    }

    main div {
        background-color: white;
    }

    .main-head-img {
        max-width: 1024px;
    }

    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero h3 {
        grid-column: 1/3;
        grid-row: 1/2;
        text-align: center;
        width: 100%;
        padding: 10px 0 10px 0;
    }

    .hero img {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .summary {
        grid-column: 1/2;
        grid-row: 2/3;
        background-color: rgba(171, 159, 157, 0.8);
        margin: 20px;
        height: 150px;
        width: 250px;
    }

    .calendar {
        position: relative;
      padding-bottom: 75%; /* Adjust this value based on the aspect ratio of the calendar */
      height: 0;
      overflow: hidden;
    }

    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1em;
    }

    .gallery figure img:hover {
        box-shadow: 0 0 20px #444545;
    }

    strong {
        color: #444545;
        
    }

    footer h3 {
        text-align: center;
    }

    /*.small-map {
        display: none;
    }

    .large-map {
        width: 27em;
        float: left;
        padding: 10px;
    }*/

    footer a {
        margin: 10px;
    }

    footer ul {
        margin: 10px;
    }


    /*-------------------Home Page-------------------*/

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        grid-gap: 1em;
        grid-gap: 1em;
    }

    .cards section {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
    }

    .cards section img {
        width: 100%;
    }

    .calendar-sub-img {
        display: none;
    }
    



}