@media(min-width: 32.5em) {

    .navigation {
        display: flex;
        justify-content: center;
    }
    
    .navigation li:first-child {
        display: none;
    }
    
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .hero-img img {
        max-width: 768px;
        margin: 0 auto;
    }

}