@media(min-width: 32.5em) {

    .navigation {
        display: flex;
        justify-content: center;
    }
    
    .navigation li:first-child {
        display: none;
    }
    
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }


    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
    }

}