@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&family=Ubuntu+Condensed&display=swap');

h1, h2, h3, h4, h5, h6 {
    color: #FCFCFC;
    background-color: #46237A;
    font-family: 'Encode Sans SC', Tahoma, sans-serif;
    padding: 10px 0;
    margin: unset;
    text-align: center;
}

#content {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    font-family: 'Encode Sans SC', Tahoma, sans-serif
}

#wrap {
    padding-bottom: 100px;
}

header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header,
nav,
main,
footer {
	margin: 0 auto;
}

nav {
	background-color: #3ddc97;
	text-align: center;
    font-family: 'Ubuntu Condensed', Tahoma, sans-serif;
}

.navigation li:first-child {
    display: block;
    text-align: center;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
	display: block;
	color: #46237A;
	text-align: right;
	padding: 0.75rem;
	text-decoration: none;
}

.menu {
    text-align: center;
}

nav a:hover {
    color: #FCFCFC;
    background-color: #46237A;
    font-weight: bold;
    text-align: right;
}

.active a {
    color:#FCFCFC;
    background-color: #46237A;
    font-weight: bold;
}

.active a:hover {
    color: #3DDC97;
}

.hero h3 {
    margin-top: 20px;
}

.hero a {
    color:#FCFCFC;
}

.hero a:hover {
    color:#3ddc97;
}

.hero img {
    width: 100%;
}

.weather {
    width: 335px;
    margin: 0 auto;
    border-radius: 4px;
    border: 2px solid #46237A;
}

.weather strong {
    background-color: #46237A;
    color: #FCFCFC;
    border-radius: 4px 0 0 0;
    padding: 2px;
}

main div {
    margin: 10px auto;
    font-family: 'Ubuntu Condensed';
}

main h2 {
    margin: 0 10px;
}

.hero h2{
    margin: unset;
}

.alert {
    font-family: 'Encode Sans SC';
}

.alert-msg {
    padding: 20px;
    background-color: #FF101F;
    color: #FCFCFC;
}

.alert-close {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    cursor: pointer;
    transition: 0.3s;
}

.close-alert:hover {
    color: black;
}

.table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1024px;
    text-align: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 1em;
    grid-gap: 1em;
}

.cards p,a {
    font-size: 1.2em;
    padding: 2px;
    margin: 0 auto;
}

.cards h3,h4 {
    background-color: #3DDC97;
    color: #46237A;
}

.cards h4 {
    border-bottom: 2px solid #46237A;
}

.cards section {
    border-radius: 4px;
    border: 2px solid #46237A;
    background-color: #FCFCFC;
    margin: 0 auto;
    width: 335px;
    padding-bottom: 10px;
}

.cards section a:hover {
    background-color: #46237A;
    color: #FCFCFC;
}

.join {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
}

.join button {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #46237A;
    background-color: #3DDC97;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
    width: 75px;
    margin: 0 auto;
}

.join button a {
    text-decoration: none;
    color: #46237A;
}

.join button a:hover {
    color: #FCFCFC;
}

.join button:hover {
    background-color: #30ac76
}

.join button:active {
    background-color: #30ac76;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }

main p{
    width: 335px;
    margin: 10px auto;
    padding: 10px;
}

.join strong {
    text-decoration: underline #FF101F;
}

.events ul {
    margin: 0 auto;

}

.contact {
    text-align: center;
}

.contact p{
    width: 100%;
    max-width: 335px;
    margin: 10px auto;
    padding: unset;
}

.contact li {
    list-style: none;
}

.social {
    margin: 0 auto;
}

.social a {
    padding: 10px;
}

footer {
    background-color: #46237A;
    position: absolute;
    width: 100%;
    font-family: 'Encode Sans SC';
    font-size: .85rem;
  }

footer p {
    text-align: center;
    color:#FCFCFC;
}

footer a {
    color: #FCFCFC;
}

footer a:hover {
    color: #FF101F;
}

/*------Join------*/

.join-form {
    margin: 0 auto;
    max-width: 350px;
}

.join-form h4 {
    color: #FCFCFC;
    background-color: #46237A;
}

.join-form fieldset {
    background-color: #FCFCFC;
    margin: 2rem 0;
    border: 2px solid #444545;
    padding: .5rem;
    text-align: left;
}

.join-form legend {
    background-color: #46237A;
    color: #FCFCFC;
    padding: 5px;
    font-size: 1.5em;
}

.join-form label {
    font-style: italic;
    font-weight: 700;
}

.join-form label input, select{
    display: block;
    border: solid 1px #46237A;
}

.join-form label input:required {
    border-left: 6px solid #3DDC97;
}

.membership {
    text-align: left;
}

.gold {
    color: #3DDC97;
    background-color: #46237A;
    padding: 2px;
}

.centered {
    text-align: center;
}

/*------Contact------*/

.contact-page {
    margin: 0 auto;
}

.board ul {
    max-width: 335px;
    list-style: none;
    margin: 0 auto;
    padding: 0px;
}

.board li {
    padding: 5px;
}

.contact-info {
    margin: 0 auto;
    text-align: center;

}

.contact-form {
    margin: 0 auto;
    max-width: 350px;
}

.contact-form h4 {
    color: #FCFCFC;
    background-color: #46237A;
}

.contact-form fieldset {
    background-color: #FCFCFC;
    margin: 2rem 0;
    border: 2px solid #444545;
    padding: .5rem;
    text-align: left;
}

.contact-form legend {
    background-color: #46237A;
    color: #FCFCFC;
    padding: 5px;
    font-size: 1.5em;
}

.contact-form label {
    font-style: italic;
    font-weight: 700;
}

.contact-form input, select{
    display: block;
    border: solid 1px #46237A;
    margin: 6px;
}

.contact-form label input:required {
    border-left: 6px solid #3DDC97;
}

/*------Directory------*/

.cards img {
    max-width: 320px;
    padding-top: 15px;
}

.cards a {
    color: #46237A;
    text-decoration: none;
}

