@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100&family=Ubuntu+Condensed&display=swap');

h1, h2, h3, h4, h5, h6 {
    color: #FCFCFC;
    background-color: #46237A;
    font-family: 'Encode Sans SC', Tahoma, sans-serif;
    padding: 10px;
    margin: unset;
    text-align: center;
}

#content {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    font-family: 'Encode Sans SC', Tahoma, sans-serif
}

#wrap {
    padding-bottom: 100px;
}

header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header,
nav,
main,
footer {
	margin: 0 auto;
}

nav {
	background-color: #256EFF;
	text-align: center;
    font-family: 'Ubuntu Condensed', Tahoma, sans-serif;
}

.navigation li:first-child {
    display: block;
    text-align: center;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
	display: block;
	color: #FCFCFC;
	text-align: right;
	padding: 0.75rem;
	text-decoration: none;
}

.menu {
    text-align: center;
}

nav a:hover {
    color: #46237A;
    background-color: #3DDC97;
    font-weight: bold;
}

.active a {
    color:#46237A;
    background-color: #3DDC97;
    font-weight: bold;
}

.hero h3 {
    margin-top: 20px;
}
